extend base

block content
    h4 Update #{video.title}
    form(method="POST")
        input(name="title" placeholder="title" required type="text" minlength="5" maxlength="80" value=video.title)
        input(name="description" placeholder="description" required type="text" minlength="5" maxlength="140" value=video.description)
        input(name="hashtags" placeholder="hashtags, separated by comma" required type="text" value=video.hashtags.join())
        input(value="save", type="submit")
